//MONSE
.row .col{
    padding: 0;
}

.mp-logo{
	margin-top: 1%;
}
.mp-header{
	margin-top: 1%;
	margin-left: -0.1%;
	background-image: url('../img-monse/imagen1.png')
}

.sombra{
    box-shadow: none;
}
.mp-gris{
	color: $mp-gris;
	font-weight: bold;
}

.img-mp{
	z-index: 1;
	position: absolute;
}

/* BOTONES */
.mp-boton1{
	border-radius: $mp-radius;
	margin-left: 13%;
	margin-top: 13%;
    z-index: 2;
    position: absolute;
	border: $mp-border;
}
.mp-boton2{
	border-radius: $mp-radius;
	margin-left: 9%;
	margin-top: -25%;
    z-index: 2;
    position: absolute;
	border: solid #fff 0.5px;
}
.mp-boton3{
	border-radius: $mp-radius;
	margin-left: 13%;
	margin-top: 35.5%;
    z-index: 2;
    position: absolute;
	border: $mp-border;
}
.mp-boton4{
	border-radius: $mp-radius;
	margin-left: 13%;
	margin-top: 25%;
    z-index: 2;
    position: absolute;
	border: $mp-border;
}

/* CARRUSEL FOTOS DEL HEADER */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45px;
  width: auto;
  margin-top: 15%;
  color: $mp-gris;
  font-size: 100px;
  transition: 0.6s ease;
  z-index: 3;
}
/* Position the "next button" to the right */
.next {
  right: 45px;
}